<section class="stats">
  <div class="stats__inner landing-container">
    <div class="stats__item">
      <div class="stats__num"><span data-count="marketers">0</span></div>
      <div class="stats__label">Marketers<br />Using</div>
    </div>
    <div class="stats__divider" aria-hidden="true"></div>
    <div class="stats__item">
      <div class="stats__num"><span data-count="faster">0</span></div>
      <div class="stats__label">Faster<br />Creation</div>
    </div>
    <div class="stats__divider" aria-hidden="true"></div>
    <div class="stats__item">
      <div class="stats__num"><span data-count="langs">0</span></div>
      <div class="stats__label">Languages<br />Supported</div>
    </div>
    <div class="stats__divider" aria-hidden="true"></div>
    <div class="stats__item">
      <div class="stats__num"><span data-count="revenue">$0M+</span></div>
      <div class="stats__label">Ad Revenue<br />Generated</div>
    </div>
  </div>
</section>
